# Module 2: Intro to Numerical Computing Using Numpy

# Outline

* [Basic array creation and manipulation](#basic_array_creation_and_manipulation)
** Shape, Type, Dimensions
* [Simple Array Math](#simple_array_math)
** Performing simple math operations on a SINGLE array
** Performing simple math operations on MULTIPLE  arrays
* [Accessing and Setting Array Elements](#accessing_and_setting_array_elements)
** Slicing 1D arrays
** Slicing 2D arrays
** Assigning to a slice
* [Multidimensional Arrays](#multidimensional_arrays)
* [Elementwise Multiplication](#elementwise_multiplication)
* [Matrix Multiplication](#matrix_matrix_multiplication)
* [Indexing and Slicing](#indexing_and_slicing)
* [Useful Functions](#useful_functions)
** [Array Creation Functions](#creation)
*** linspace and logspace
*** arange
*** ones, zeros
** [Reductions](#reductions)
*** min, max, prod, mean
* [Structure Operations](#structure_operations)
** Reshaping
** Flattening an array

In [1]:
%pylab inline

%pylab is deprecated, use %matplotlib inline and import the required libraries.
Populating the interactive namespace from numpy and matplotlib

<a class="anchor" id="basic_array_creation_and_manipulation"></a>

# Basic array creation and manipulation

We use `np.array(...)` function to create arrays

In [2]:
x = np.array([0, 1, 2, 3]);
x

array([0, 1, 2, 3])

## Shape, Type, and Dimensions

To check the data type of `x`

In [3]:
type(x)

numpy.ndarray

To check the Numeric type of Elements of `x`

In [4]:
x.dtype

dtype('int64')

Arrays have DIMENSION and SHAPE

Dimension = an integer value : number of integers needed to index a unique entry of the array

Shape = a tuple of integers : each entry gives the size of the corresponding dimension

In [5]:
x.shape

(4,)

In [6]:
x.ndim

1

<a class="anchor" id="simple_array_math"></a>


# Simple Array Math

## Performing simple math operations on a <i>SINGLE</i> array

Let's see the results when an array is operated with a scalar value.

In [7]:
x + 2

array([2, 3, 4, 5])

In [8]:
x * 2

array([0, 2, 4, 6])

In [9]:
x / 2

array([0. , 0.5, 1. , 1.5])

In [10]:
x * x

array([0, 1, 4, 9])

In [11]:
x / x

/var/folders/wj/81nn3qn977d_k7yf5j953d5r0000gp/T/ipykernel_17325/1859513313.py:1: RuntimeWarning: invalid value encountered in true_divide
  x / x

array([nan,  1.,  1.,  1.])

## Performing math operations on <i> Multiple </i> Arrays

In [12]:
a = np.array([0, 1, 2])
b = np.array([4, 4, 4])
a + b

array([4, 5, 6])

In [13]:
a * b

array([0, 4, 8])

In [14]:
a ** b

array([ 0,  1, 16])

In Python, you can use <b>NUMPY</b> or <b>np</b> through the use of <b>import numpy as np</b> in order to easily use functions for vectors and matrices.

Let's try creating an array from 0.0 to 10.0

In [15]:
y = np.arange(11.0)
y

array([ 0.,  1.,  2.,  3.,  4.,  5.,  6.,  7.,  8.,  9., 10.])

<a class="anchor" id="accessing_and_setting_array_elements"></a>

# Accessing and Setting Array Elements

In [16]:
#x = np.array([0, 1, 2, 3]);
x[0]

0

In [17]:
x[0] = 4
x

array([4, 1, 2, 3])

<a class="anchor" id="multidimensional_arrays"></a>


# Multidimensional Arrays

In [18]:
# Create 2D 3x3 array 'M' as floats
M = np.asarray([[1, 4, 7], 
                [2, 5, 8], 
                [3, 6, 9]])
M

array([[1, 4, 7],
       [2, 5, 8],
       [3, 6, 9]])

In [19]:
#dimension of M
M.ndim

2

In [20]:
#shape = (rows, columns)
M.shape

(3, 3)

In [21]:
#element count
M.size

9

In [22]:
#accessing the element on row 1 and col2.  Note: indexing starts with 0. 
M[1, 2]

8

In [23]:
#replacing the element on row 1 and col 2 with 0
M[1, 2] = 0
M

array([[1, 4, 7],
       [2, 5, 0],
       [3, 6, 9]])

In [24]:
#to get only the third row using a single index

M[2]

array([3, 6, 9])

<a class="anchor" id="elementwise_multiplication"></a>

# Elementwise Multiplication

In [25]:
M

array([[1, 4, 7],
       [2, 5, 0],
       [3, 6, 9]])

In [26]:
a

array([0, 1, 2])

In [27]:
#matrix to matrix multiplication
R = M * M
R

array([[ 1, 16, 49],
       [ 4, 25,  0],
       [ 9, 36, 81]])

What happens when we multiply (3,3) shape by a (3,) shape?
a is implicitly expanded to (1,3) and thus multiplied element-wise to each row

In [28]:
#matrix to scalar multiplication
M * a

array([[ 0,  4, 14],
       [ 0,  5,  0],
       [ 0,  6, 18]])

<a class="anchor" id="matrix_matrix_multiplication"></a>


# Matrix-Matrix Multiplication

We use np.dot

In [29]:
a

array([0, 1, 2])

In [30]:
#vector and vector
np.dot(a, a)

5

In [31]:
#matrix and vector
np.dot(M, a)

array([18,  5, 24])

In [32]:
#matrix and matrix
np.dot(M, M)

array([[ 30,  66,  70],
       [ 12,  33,  14],
       [ 42,  96, 102]])

If multiplying two matrices, it is important that the number of of rows of the first matrix is equal to the column of the second matrix

In [35]:
# N = np.asarray([[1, 4, 7], 
#                 [2, 5, 8]])
# np.dot(M,N)

ValueError: shapes (3,3) and (2,3) not aligned: 3 (dim 1) != 2 (dim 0)

In [34]:
N = np.asarray([[1, 2], 
                [3, 4],
                [5, 6]])
np.dot(M,N)

array([[48, 60],
       [17, 24],
       [66, 84]])

<a class="anchor" id="indexing_and_slicing"></a>


# Indexing and Slicing

`var[lower:upper:step]`

Extracts a portion of a sequence by specifying a lower and upper bound.

The lower-bound element is included, but the upper-bound element is not included. 

Mathematically: `[lower, upper)`. 

The `step value` specifies the stride between elements.

## Slicing 1d arrays

In [36]:
b = np.array([7, -1, 2, 4])
b

array([ 7, -1,  2,  4])

In [37]:
b[1:3]

array([-1,  2])

In [38]:
b[0:-1]

array([ 7, -1,  2])

In [39]:
b[-3:3]

array([-1,  2])

Omitting boundaries are assumed to be the beginning (or end) of the list

In [40]:
b[:3]

array([ 7, -1,  2])

In [41]:
b[-3:]

array([-1,  2,  4])

In [42]:
b[::2]

array([7, 2])

### Slicing 2D Arrays

In [43]:
M

array([[1, 4, 7],
       [2, 5, 0],
       [3, 6, 9]])

In [44]:
M[0, 0:3]

array([1, 4, 7])

In [45]:
M[1:,1:]

array([[5, 0],
       [6, 9]])

In [46]:
M[1:3,1:3]

array([[5, 0],
       [6, 9]])

In [47]:
M[:,2]

array([7, 0, 9])

## Assigning to a slice

Slices are references to locations in memory.

These memory locations can be used in assignment operations.

In [48]:
x

array([4, 1, 2, 3])

In [49]:
#slicing the last two elements return the data there

x[-2:]

array([2, 3])

In [50]:
x[-2:] = [-1, -2]
x

array([ 4,  1, -1, -2])

In [51]:
x[0] = 1
x

array([ 1,  1, -1, -2])

<a class="anchor" id="useful_functions"></a>


# Useful Functions

<a class="anchor" id="creation"></a>


## Array Creation Functions

### linspace and logspace

In [52]:
# Linearly spaced numbers
x_N = np.linspace(-2, 2, num=5)
x_N

array([-2., -1.,  0.,  1.,  2.])

In [53]:
# Logarithmically spaced numbers
x_N = np.logspace(-2, 2, base=10, num=5)
x_N

array([1.e-02, 1.e-01, 1.e+00, 1.e+01, 1.e+02])

### arange

`arange([start,] stop[, step], dtype=None)`

Nearly identical to Python’s `range()`. Creates an array of values in the range `[start,stop)` with the specified `step value`. 

Allows non-integer values for `start`, `stop`, and `step`. 

Default `dtype` is derived from the `start`, `stop`, and `step` values.

In [54]:
# Start at 0 (default), count up by 1 (default) until you get to 4 (exclusive)
x = np.arange(4)
x

array([0, 1, 2, 3])

In [55]:
# Start at negative PI, count up by increments of pi/4 until you get to + PI (exclusive)

y = np.arange(-np.pi, np.pi, np.pi/4)
print(y)

[-3.14159265 -2.35619449 -1.57079633 -0.78539816  0.          0.78539816
  1.57079633  2.35619449]

### ones, zeros

`ones(shape, dtype='float64')
zeros(shape, dtype='float64')`

`shape` is the number of sequence specifying the dimensions of the array.  if the dtype is not specified, it defaults to `float64`.

In [56]:
np.ones((3, 2), dtype='int32')

array([[1, 1],
       [1, 1],
       [1, 1]], dtype=int32)

In [57]:
np.zeros((3, 2), dtype='int32')

array([[0, 0],
       [0, 0],
       [0, 0]], dtype=int32)

<a class="anchor" id="reductions"></a>


## Reductions

Some numpy functions like `sum` or `prod` or `max` or `min` that take in many values and produce fewer values.
These kinds of operations are known as <b>reductions</b>.
Within numpy, any reduction function takes an optional `axis` kwarg to specify specific dimensions to apply the reduction to

In [58]:
M

array([[1, 4, 7],
       [2, 5, 0],
       [3, 6, 9]])

In [59]:
M.sum()

37

In [60]:
M.sum(axis=0)

array([ 6, 15, 16])

In [61]:
M.sum(axis=1)

array([12,  7, 18])

<b>Other methods and functions</b>

<b>Mathematical Functions</b>
1. sum, prod
2. min, max, argmin, argmax
3. ptp (max-mean)


<b>Statitsical Functions</b>
1. mean, std, var

In [62]:
M

array([[1, 4, 7],
       [2, 5, 0],
       [3, 6, 9]])

In [63]:
#prefer numpy functions to builtins when working with arrays

np.min(M)

0

In [64]:
np.max(M)

9

In [65]:
#gets the max for each row
np.max(M, axis = 1)

array([7, 5, 9])

In [66]:
#gets the max for each column
np.max(M, axis = 0)

array([3, 6, 9])

In the previous examples, the max and min returns the maximum or minimum value.

However, some tasks are more interested in the <b>location</b> of the minimum or maximum, not the value.

arg methods return the location in a 1D, flattened version of the original array

In [67]:
np.argmax(M)

8

In [68]:
np.argmin(M)

5

In [69]:
np.argmax(M, axis=1)

array([2, 1, 2])

In [70]:
np.argmax(M, axis=0)

array([2, 2, 2])

### getting the average/mean

In [71]:
M

array([[1, 4, 7],
       [2, 5, 0],
       [3, 6, 9]])

In [72]:
np.mean(M)

4.111111111111111

In [73]:
np.mean(M, axis = 0)

array([2.        , 5.        , 5.33333333])

In [74]:
np.mean(M, axis = 1)

array([4.        , 2.33333333, 6.        ])

<a class="anchor" id="structure_operations"></a>


# Structure Operations

Operations that only affect the structure, not the data, can usually be executed without copying memory

## Reshaping Arrays

In [75]:
a = np.arange(1,7)
a

array([1, 2, 3, 4, 5, 6])

In [76]:
a.shape

(6,)

In [77]:
b = a.reshape(2,3)
b

array([[1, 2, 3],
       [4, 5, 6]])

In [78]:
c = a.reshape(3,2)
c

array([[1, 2],
       [3, 4],
       [5, 6]])

In [79]:
c.transpose()

array([[1, 3, 5],
       [2, 4, 6]])

Note: reshape cannnot change the number of elements in an array

In [80]:
#would result in an error because this requires 4 rows and 2 columns
#would need 8 values in an array to execute this

a.reshape(4,2)

ValueError: cannot reshape array of size 6 into shape (4,2)

## Flattening Arrays

`a.flatten()` converts a multi-dimensional array into a `1-D` array. The new array is a copy of the original data.

In [81]:
c

array([[1, 2],
       [3, 4],
       [5, 6]])

In [82]:
d = c.flatten()
d

array([1, 2, 3, 4, 5, 6])

In [83]:
d.shape

(6,)